<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="estilos.css">
      <title>Hello World Vue</title>
   </head>
   <body>
      <div id="app">
         <h1>{{message}}</h1>
         <input type="text" v-model="message">

      </div>
      <div id="app1">
         <h1>Bienvenido {{message1}}</h1>
         <label for="nombre">Coloca tu nombre</label>
         <input id="nombre" type="text" v-model="message1">
      </div>

      <a class="enlaces" href="v-bind.html">V-Bind</a>
      <a class="enlaces" href="v-if.html">V-If</a>
      <a class="enlaces" href="v-show.html">V-Show</a>
      <a class="enlaces" href="v-html.html">V-Html</a>
      <a class="enlaces" href="v-for.html">V-For</a>
      <a class="enlaces" href="computed.html">Computed</a>
      <a class="enlaces" href="computed2.html">Computed2</a>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script>
         const app = new Vue({
            el: "#app",
            data: {
               message: "Hola Mundo con Vue.js"
            }
         });
         const app1 = new Vue({
            el: "#app1",
            data: {
               message1: ""
            }
         });
      </script>
   </body>
</html>