   <!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="estilos.css">
      <title>V-For</title>
   </head>
   <body>
      <div id='app'>
         <h1>Frutas Favortias</h1>
         <ul>
            <ol v-for="i in datos">{{i.id}} - {{i.valor}}</ol>
         </ul>

         <select name="" id="" v-model="datos.id">
            <option value=""></option>
            <option v-for="i in datos" :value="i.id">{{i.valor}}</option>
         </select>

         <input type="text" :value="datos.id">

      </div>

      <a href="index.html" class="enlaces">Hello World</a>

      <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
      <script>
         const app = new Vue({
            el: '#app',
            data: {
               datos: [{valor: "uvas", id: 1}, {valor: "manzanas", id: 2}, {valor: "sandias", id: 3}, {valor: "mangos", id: 4}]
            }
         });
      </script>
   </body>
</html>